<p>
  server-detail works!
</p>

<div class="ui-fluid">
  <div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for='inp1'>Text</label>
        <input #inp1 type="text" pInputText />
      </div>
      <div class="ui-grid-col-4">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">

        <ng2-ip class="ui-widget" [(ngModel)]="ip" mode='ipv4' theme='ng2-ip-theme-default' inputValidation='block' highlightInvalidBlocks='true' copyMode='address'>
        </ng2-ip>
        <pre>{{ip}}</pre>

      </div>
    </div>
  </div>
</div>