/* You can add global styles to this file, and also import other style files */

body, html {
    height:100%;
    padding:0;
    margin:0;
}

body {

    font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #404C51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    background-color: #fafafa;
}